.Home .lander {
    padding: 180px 0;
    text-align: center;
}

.Home .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.Home .lander p {
    color: #999;
}

.Home .btn {
    padding: 20px 50px;
    margin-top: 10px;
    font-size: 20px;
}

.Home .btn:hover {
    background-color: springgreen;
}
