.VoteList{
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.highestVote{
  background-color: #F76C6C;
  color: white;
}

.listItemVote{
     border: 1px solid #ddd;
     margin-top: 10px;
     margin-left:10%;
     margin-right:10%;

     padding: 12px;
     width: 80%;
     cursor: pointer;
     color: tomato;
     font-size: 12pt;
     border: none;
     font-size: 150%;
 }

 .listItemVote:hover{
   background-color: #f6f6f6;
 }

 a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.listItemVote2{
    border: 1px solid #ddd;
    margin-top: 10px;
    margin-left:10%;
    margin-right:10%;
    background-color: #f6f6f6;
    padding: 12px;
    width: 80%;
    color: #2a334f;
    font-size: 12pt;
}

.titleInput{
    margin-left: 13px;
    width: 350px;
    height: 30px;
}

.timeInput{
    margin-left: 10px;
    width: 350px;
    height: 30px;
}

.modal-container {
    position: relative;
}

.modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
}

.myButton{
    background:url(../baseline_add_circle_outline_black_36dp.png) no-repeat;
    position:relative;
    left: 46%;
    margin-top: 50px;
    cursor:pointer;
    border:none;
    width:70px;
    height:70px;
    outline: none;
}

.myButton:hover{
    background:url(../baseline_add_circle_outline_black_36dp.png) no-repeat;
    border:none
}

.historyLink{
    background-color: #7395AE;
    font-size:20px;
}
