.VoteList{
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.highestVote{
  background-color: #18AFC7;
  color: white;
  font-size: 100%;
  border-radius: 8px;
}

.listItemVote{
     border: 1px solid #ddd;
     margin-top: 10px;
     margin-left:10%;
     margin-right:10%;
     padding: 12px;
     width: 80%;
     cursor: pointer;
     color: #177D9A;
     border: none;
     font-size: 150%;
     font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
     font-weight: bold;
 }

 .listItemVote:hover{
   background-color: #f6f6f6;
 }

 a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.listItemVote2{
    border: 1px solid #ddd;
    margin-top: 10px;
    margin-left:10%;
    margin-right:10%;
    background-color: #f6f6f6;
    padding: 12px;
    width: 80%;
    color: #2a334f;
    font-size: 12pt;
}

.titleInput{
    margin-left: 13px;
    width: 350px;
    height: 30px;
}

.timeInput{
    margin-left: 10px;
    width: 350px;
    height: 30px;
}

.modal-container {
    position: relative;
}

.modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
}

.myButton{
  -webkit-appearance: none;
  display: inline-block;
  border-radius: 8px;
  background: #006989;
  color: #ffffff;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 150%;
  padding: .75rem 1.25rem;
  margin: 0 0 .5rem 0;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  position:relative;
  left:43%
}

.myButton:hover{
  background: #177D9A;
  color: #ffffff;
  text-decoration: none;
}
/*
.myButton{
    background:url(../baseline_add_circle_outline_black_36dp.png) no-repeat;
    position:relative;
    left: 46%;
    margin-top: 50px;
    cursor:pointer;
    border:none;
    width:70px;
    height:70px;
    outline: none;
}

.myButton:hover{
    background:url(../baseline_add_circle_outline_black_36dp.png) no-repeat;
    border:none
}
*/

.historyLink{
    background-color: #DCE4D7;
    color: gray;
    font-weight: bold;
    font-size:17px;
}
