ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}



ul li {
    border: 1px solid #ddd;
    margin-top: 10px;
    margin-left:20%;
    background-color: #f6f6f6;
    padding: 12px;
    width: 50%;
}

.titleInput{
    margin-left: 10px;
    width: 350px;
    height: 30px;
}

.timeInput{
    margin-left: 10px;
    width: 350px;
    height: 30px;
}

.modal-container {
    position: relative;
}

.modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
}

.myButton{
    background:url(../baseline_add_circle_outline_black_36dp.png) no-repeat;
    position:relative;
    left: 46%;
    margin-top: 50px;
    cursor:pointer;
    border:none;
    width:70px;
    height:70px;
    outline: none;
}