ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}



ul li {
    border: 1px solid #ddd;
    margin-top: 10px;
    margin-left:20%;
    background-color: #f6f6f6;
    padding: 12px;
    width: 50%;
}

.titleInput{
    margin-left: 10px;
    width: 350px;
    height: 30px;
}

.timeInput{
    margin-left: 10px;
    width: 350px;
    height: 30px;
}