.Navigation {
    padding: 30px;
}

div .Navigation {
    background-color: black;
}

.Navigation .navbar-brand {
    font-weight: bold;
    font-size: 35px;
    color: dodgerblue;
    text-decoration: none;
}

.Navigation .navbar-brand:hover,
.Navigation.navbar-brand:focus {
    background-color: transparent;
}

.myButton{
    background:url(../baseline_add_circle_outline_black_36dp.png) no-repeat;
    position:relative;
    left: 46%;
    margin-top: 50px;
    cursor:pointer;
    border:none;
    width:70px;
    height:70px;
    outline: none;
}

.Navigation a {
    margin-left: 50px;
}

.Navigation .container a:hover {
    background-color: black;
}

.modal-container {
    position: relative;
}

.modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
}